{% extends 'base.html.twig' %}

{% block title %}PABBA - Nouvel évènement{% endblock %}

{% block body %}
    <div class="container" style="background-color: lightgray">
        <h1>Formulaire de création d'évènement</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                <div class="col-12">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-12">
                    {{ form_row(form.eventType) }}
                </div>
            </div>
            <div class="col-6">
                {{ form_row(form.imageFile) }}
            </div>
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-12">
                    {{ form_row(form.eventAt) }}
                </div>
                <div class="col-12">
                    {{ form_row(form.place) }}
                </div>
            </div>
            <div class="col-6">
                {{ form_row(form.organisers) }}
            </div>
        </div>

        <button type="submit" class="btn add-btn" >
            <i class="bi bi-check-circle" ></i>
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event_create') }}
{% endblock %}