{% extends 'admin/base_layout.html.twig' %}

{% set title =  user.lastLogin is null ? "Création de votre mot de passe" : "Changement de mot de passe" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row pt-5">
        <div class="col-12 col-md-4 mx-auto mt-5">
            <div class=" form-signin mt-5">
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="form-label-group">
                        {{ form_label(form.password.first) }}
                    </div>
                    <div class="form-control-wrap">
                        <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch" data-target="change_password_password_first">
                            <em class="passcode-icon icon-show icon ni ni-eye"></em>
                            <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                        </a>
                        {{ form_widget(form.password.first) }}
                        <small>{{ form_help(form.password) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        {{ form_label(form.password.second) }}
                    </div>
                    <div class="form-control-wrap">
                        <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch" data-target="change_password_password_second">
                            <em class="passcode-icon icon-show icon ni ni-eye"></em>
                            <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                        </a>
                        {{ form_widget(form.password.second) }}
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
