{% extends 'base.html.twig' %}

{% block body %}

    Page Tutoriel
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ first['snippet']['title'] }}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ first['snippet']['thumbnails']['high']['url'] }}" width="100%">
                        </div>
                        <div class="col-md-8">
                            <p>{{ first['snippet']['description'] }}</p>
                            <p><em>Durée : </em> {{ first['contentDetails']['duration'] }}</p>
                            <p>
                                <a href="https://www.youtube.com/watch?v={{ first['id'] }}" class="btn btn-primary">
                                    voir cette vidéo
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for video in item %}
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ video['snippet']['title'] }}</div>
                    <img src="{{ video['snippet']['thumbnails']['high']['url'] }}" width="100%">
                    <div class="panel-body">
                        <p>{{ video['snippet']['description'] }}</p>
                        <p>
                            <a href="https://www.youtube.com/watch?v={{ video['id']['videoId'] }}" class="btn btn-primary">
                                voir cette vidéo
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}