{% for tutorial in tutorials %}
    <div class="col-12 col-md-3 pt-3">
        <div class="card" data-id="{{ tutorial.id }}">
            <img src="{{ tutorial.imageName is not null ? vich_uploader_asset(tutorial, 'imageFile') : asset('images/default_tuto.jpg') }}" class="card-img-top" alt="Image du tutoriel {{ tutorial.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ tutorial.title }}</h5>
                <p class="card-text">
                    {% if tutorial.rate %}
                        {% for i in range(1,tutorial.rate) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% if  tutorial.rate < 5 %}
                            {% for i in range(5, tutorial.rate + 1) %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </p>
                <a href="{{ path('tutorial_details', {'id': tutorial.id}) }}" class="btn btn-primary">Consulter</a>
            </div>
        </div>
    </div>
{%  endfor %}
