{% extends 'base.html.twig' %}
{% block title %}PABBA - Outils
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card">
			<ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="rented-tab" data-toggle="pill" href="#rented" role="tab" aria-controls="rented" aria-selected="false">Outils empruntés</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="loaned-tab" data-toggle="pill" href="#loaned" role="tab" aria-controls="loaned" aria-selected="false">Outils prêtés</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="loaned-tab" data-toggle="pill" href="#tools" role="tab" aria-controls="tools" aria-selected="true">Mes outils</a>
				</li>
			</ul>
			<div class="card-body">
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="rented" role="tabpanel" aria-labelledby="rented-tab">
						<div class="row justify-content-center">
							{% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
								{% if rented is empty %}
									Aucun outil emprunté pour le moment.
								{% endif %}
								{% for rent in rented %}
									<div class="card rent-card m-2 {{ rentIsOld(rent) ? 'oldRent' : '' }} {{ rentReturned(rent) ? 'returnedRent' : '' }}">
										<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted">{{ rent.owner.firstname ~ ' ' ~ rent.owner.lastname }}</h6>
											<h5 class="card-title">{{ rent.item.name }}<small>
													-
													{{ rent.item.category.label }}</small>
											</h5>
											<p class="card-text">
												<span class="span-title">Date d'emprunt :</span>
												<span class="span-date">{{ rent.rentAt | date("d/m/Y H:i") }}</span>
												<br/>
												<span class="span-title">Date de rendu :</span>
												<span class="span-date">{{ rent.returnAt | date("d/m/Y H:i") }}</span>
											</p>
											{% if rentReturned(rent) == false %}
												<a href="{{ path('item_show', {'id': rent.item.id}) }}" class="btn btn-primary" title="Voir les détails de l'outil : {{ rent.item.name }}">
													<i class="fas fa-hammer"></i>
												</a>
												{% if rent.renders | length == 0 %}
													<a href="{{ path('render_create', { 'rentId': rent.id }) }}" class="btn btn-info" title="Rendre {{ rent.item.name }} emprunté à {{ rent.owner }}">
														<i class="fas fa-reply"></i>
													</a>

												{% elseif rent.renders | length > 0 and rent.renders.0.isValid == 0 %}
													<span class="btn btn-secondary"><i class="fas fa-clock"></i><i> En attente de confirmation</i></span>
												{% endif %}
											{% else %}
												<i>Rendu</i>
											{% endif %}
										</div>
									</div>
								{% endfor %}
							{% else %}
								<p>Connectez-vous pour accéder à ce contenu</p>
							{% endif %}
						</div>
					</div>
					<div class="tab-pane fade" id="loaned" role="tabpanel" aria-labelledby="loaned-tab">
						<div class="tab-pane fade show active" id="rented" role="tabpanel" aria-labelledby="rented-tab">
							<div class="row justify-content-center">
								{% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
									{% if loaned is empty %}
										Aucun outil prêté pour le moment.
									{% endif %}
									{% for rent in loaned %}
										<div class="card rent-card m-2 {{ rentIsOld(rent) ? 'oldRent' : '' }} {{ rentReturned(rent) ? 'returnedRent' : '' }}">
											<div class="card-body">
												<h5 class="card-title">{{ rent.item.name }}<small>
														-
														{{ rent.item.category.label }}</small>
												</h5>
												{# <h6 class="card-subtitle mb-2 text-muted">prêté à : {{ rent.renter.firstname ~ ' ' ~ rent.renter.lastname }}</h6> #}
												<p class="card-text">
													<span class="span-title">prêté à :</span>
													<span class="span-date">{{ rent.renter.firstname ~ ' ' ~ rent.renter.lastname }}</span>
													<br/>
													<span class="span-title">Date d'emprunt :</span>
													<span class="span-date">{{ rent.rentAt | date("d/m/Y H:i") }}</span>
													<br/>
													<span class="span-title">Date de rendu :</span>
													<span class="span-date">{{ rent.returnAt | date("d/m/Y H:i") }}</span>
												</p>
												{% if rentReturned(rent) == false %}
													<a href="{{ path('item_show', {'id': rent.item.id}) }}" class="btn btn-primary" title="Voir les détails de l'outil : {{ rent.item.name }}">
														<i class="fas fa-hammer"></i>
													</a>
													{% if rent.renders | length > 0 and rent.renders.0.isValid == 0 %}
														<a href="{{ path('render_edit', { 'id': rent.renders.0.id }) }}" class="btn btn-info" title="Compléter le rendu de {{ rent.item.name }} prêté à {{ rent.renter }}">
															<i class="fas fa-eye"></i>
														</a>
													{% endif %}
												{% else %}
													<i>Récupéré</i>
												{% endif %}
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p>Connectez-vous pour accéder à ce contenu</p>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
						<div class="tab-pane fade show active" id="rented" role="tabpanel" aria-labelledby="rented-tab">
							<div class="row">
								{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
									{% if items is empty %}
										Aucun outil enregistré pour le moment.
									{% endif %}
									{% for item in items %}
										<div class="col-sm-4 mb-3">
											<div class="card rent-card">
												<img src="{{ item.picture is not null ? vich_uploader_asset(item, 'imageFile') : asset('images/default_items.jpg') }}" class="card-img-top item-picture" alt="Image de l'outil {{ item.name }}">
												<div class="card-body">
													<h5 class="card-title">{{ item.name }}<small>
															-
															{{ item.category.label }}</small>
													</h5>
													<p class="card-text">
														<span class="span-title">État :</span>
														<span class="span-date">{{ item.state.label }}</span>
														<br/>
														<span class="span-title">Status :</span>
														<span class="span-date">{{ item.status is same as 0 ? 'Disponible' : 'Indisponible' }}</span>
													</p>
													<a href="{{ path('item_show', {'id': item.id}) }}" class="btn btn-primary">
														<i class="fas fa-eye"></i>
													</a>
													<a href="{{ path('item_update', {'id': item.id}) }}" class="btn btn-primary">
														<i class="fas fa-edit"></i>
													</a>
												</div>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p>Connectez-vous pour accéder à ce contenu</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
