{% extends 'base.html.twig' %}

{% block title %}PABBA - Nouveau tutoriel{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if (isMobile() or isTablet()) %}
        <div class="card">
            <div class="card-body">
                {{ form_row(form.imageFile) }}
                {{ form_row(form.title, {'id': 'title'}) }}
                {{ form_row(form.type) }}
                {{ form_row(form.tools) }}
                {{ form_row(form.supplies) }}
                {{ form_row(form.description, {'id': 'description'}) }}
                {{ form_row(form.videoFile) }}
            </div>
        </div>
        <button type="submit" class="btn add-btn"><i class="bi bi-arrow-right-circle-fill"></i></button>
    {% else %}
        <div class="form-card-container mobile-card-form">
            <div class="card card-left">
                <div class="card-body">
                    {{ form_row(form.imageFile) }}
                    {{ form_row(form.title, {'id': 'title'}) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.tools) }}
                    {{ form_row(form.supplies) }}
                </div>
            </div>
            <div class="card card-right">
                <div class="card-body">
                    {{ form_row(form.description, {'id': 'description'}) }}
                    {{ form_row(form.videoFile) }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn add-btn"><i class="bi bi-arrow-right-circle-fill"></i></button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#tutorial_tools').select2();
        });
    </script>

    <script type="text/javascript">
        window.addEventListener('load', function () {
            uploadVideoField = document.getElementsByClassName("videoFile").item(0);
            uploadImageField = document.getElementsByClassName("imageFile").item(0);

            uploadVideoField.onchange = function() {
                if(this.files[0].size > 2e+7) { // 20 Mo
                    alert("Le fichier est trop volumineux (" + (this.files[0].size / 1000000).toFixed(2) + " Mo / 20 Mo) !");
                    this.value = "";
                }
            };

            uploadImageField.onchange = function() {
                if(this.files[0].size > 2e+6) { // 2 Mo
                    alert("Le fichier est trop volumineux (" + (this.files[0].size / 1000000).toFixed(2) + " Mo/ 2 Mo) !");
                    this.value = "";
                }
            };
        })
    </script>
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}