{% extends 'base.html.twig' %}

{% block title %}{{ tutorial.title }}{% endblock %}

{% block body %}


    <div class="row">
        <div class="align-self-center">
            <h2>{{ tutorial.title }}</h2>
            <h3>{{ tutorial.type.label }}</h3>
            <h4>Proposé par : {{ tutorial.user.firstname }} - modifié le {{ tutorial.updatedAt|date('d/m/Y') }}</h4>
            <img src="{{ vich_uploader_asset(tutorial, 'imageFile') }}" alt="image du tutoriel {{ tutorial.title }}">
        </div>
    </div>
    <div class="row">
        <p>{{ tutorial.description | raw  }}</p>
        <hr>
        <h4>Fournitures</h4>
        <p>{{ tutorial.supplies | raw  }}</p>
        <hr>
        <h2>La vidéo est là</h2>
            <video src=""></video>
    </div>
{% endblock %}
