<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% for rubrik, messages in app.flashes %}
			<div class="alert alert-{{ rubrik }}">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
		{% endfor %}
		{% block body %}{% endblock %}
	</body>
	{% for flash in app.flashes('success') %}
		<span class="d-none js-alert" data-message="{{ flash }}" data-type="success"></span>
	{% endfor %}
	{% for flash in app.flashes('error') %}
		<span class="d-none js-alert" data-message="{{ flash }}" data-type="error"></span>
	{% endfor %}

</html>
