<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>
		{% block title %}PABBA{% endblock %}
	</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('images/logo.png')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('base') }}
    {% block stylesheets %}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}

    {% endblock %}
</head>

<body>
    {% include 'components/navbar.html.twig' %}

    {% include 'components/secondary-navbar.html.twig' %}

    <div class="pb-5">
        {% block body %}{% endblock %}
    </div>


{% for flash in app.flashes('success') %}
    <span class="d-none js-alert" data-message="{{ flash }}" data-type="success"></span>
{% endfor %}
{% for flash in app.flashes('error') %}
    <span class="d-none js-alert" data-message="{{ flash }}" data-type="error"></span>
{% endfor %}
</html>
