<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>
		{% block title %}PABBA{% endblock %}
	</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('images/logo.png')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
		{{ encore_entry_link_tags('base') }}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}

    {% endblock %}
</head>

<body>
    {% include 'components/navbar.html.twig' %}

    {% if not (isMobile() or isTablet()) %}
        {% include 'components/secondary-navbar.html.twig' %}
    {% endif %}

    {% for rubrik, messages in app.flashes %}
        <div class="alert alert-{{ rubrik }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="{{ (isMobile() or isTablet()) ? 'container-mobile' : 'container' }}">
        {% block body %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></body>

{% for flash in app.flashes('success') %}
    <span class="d-none js-alert" data-message="{{ flash }}" data-type="success"></span>
{% endfor %}
{% for flash in app.flashes('error') %}
    <span class="d-none js-alert" data-message="{{ flash }}" data-type="error"></span>
{% endfor %}
</html>
