<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <img id="{{ (isMobile() or isTablet()) ? 'logo-mobile' : 'logo' }}" src="{{ asset('images/logo.png') }}" alt="">
    <a class="navbar-brand title" href="{{ path('index') }}">PABBA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav {{ (isMobile() or isTablet()) ? 'navbar-mobile' : '' }}">
            {% set route_name = app.request.attributes.get('_route') %}
            <li {% if route_name starts with 'place' %} class="nav-item active" {% else %} class='nav-item' {% endif %}>
                <a class="nav-link" href="{{ path('place_index') }}"><i class="bi bi-map"></i> Liste des jardins</a>
            </li>
            <li {% if route_name starts with 'event' %} class="nav-item active" {% else %} class='nav-item' {% endif %}>
                <a class="nav-link" href="#"><i class="bi bi-calendar-event"></i> Evenement</a>
            </li>
            <li {% if route_name starts with 'reward' %} class="nav-item active" {% else %} class='nav-item' {% endif %}>
                <a class="nav-link" href="#"><i class="bi bi-credit-card"></i> Récompenses</a>
            </li>
            <li {% if route_name starts with 'lend' %} class="nav-item active" {% else %} class='nav-item' {% endif %}>
                <a class="nav-link" href="#"><i class="bi bi-screwdriver"></i> Prêt du matériel</a>
            </li>
            <li {% if route_name starts with 'tutorial' %} class="nav-item active" {% else %} class='nav-item' {% endif %}>
                <a class="nav-link" href="{{ path('tutorial_index') }}"><i class="bi bi-journal-text"></i> Tutoriels</a>
            </li>
        </ul>
    </div>
</nav>