{% extends "base.html.twig" %}

{% block title %}PABBA - Emprunt d'outil{% endblock %}

{% block body %}
    {{ form_start(form) }}
    
    {{ form_row(form.rentAt) }}
    {{ form_row(form.returnAt) }}

    <button class="btn btn-success">
        <i class="fas fa-save"></i>
        Enregistrer l'emprunt
    </button>

    <a href="{{ path('item_index') }}" class="btn btn-danger">
        <i class="fas fa-times"></i>
        Annuler
    </a>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("item_borrow") }}
{% endblock %}