{% extends 'base.html.twig' %}

{% block title %}
	{{ item.name }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 pt-5">
				<div class="text-center">
					<h2>{{ item.name }}</h2>
					<h5>
						<i>{{ item.category.label }}</i>
					</h5>
					{% if item.owner %}
						<p>
							<i>Proposé par :
								{{ item.owner.firstname }}
								{{ item.owner.lastname }}
							</i>
						</p>
					{% endif %}

					<div id="detail1" class="col-12 d-flex justify-content-center">
						<div class="col-6">
							{% if item.picture %}
								<img class="img-fluid" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="Image de l'outil {{ item.name }}"/>
							{% else %}
								<img src="{{ asset('images/default_items.jpg') }}" class="card-img-top" alt="Image de l'outil {{ item.name }}">
							{% endif %}
						</div>
						<div class="col-6">
							<div class="card shadow">
								<div class="card-body">
									<h5 class="card-title">Status</h5>
									<p class="card-text">
										{% if item.status != 0 %}
											<p>L'outil est empreinté</p>
										{% else %}
											<p>L'outil est disponible</p>
										{% endif %}
									</p>
								</div>
							</div>

							<div class="card shadow mt-3">
								<div class="card-body">
									<h5 class="card-title">Etat</h5>
									<p class="card-text">
										{{ item.state.label }}
									</p>
								</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<form method="post" action="{{ path('item_delete', {'id': item.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet outil ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
	<button type="button" class="btn add-btn mr-5">
		{% if app.user.id != item.owner.id %}
			<a href="{{ path('item_borrow', {'id': item.id}) }}">
				<i class="fas fa-handshake"></i>
			</a>
		{% else %}
			<a href="{{ path('item_update', {'id': item.id}) }}">
				<i class="bi bi-pencil-square"></i>
			</a>
			<button type="submit" class="btn add-btn">
				<i class="bi bi-trash-fill"></i>
			</button>
		{% endif %}
	</button>
</form>{% endblock %}
